
body {
    font-family: $base-font;
    font-size: $base-font-size;
    
}

h1, h2, h3, h4, h5, h6 {
    
    @include mq($breakpoint-lg) {
        max-width: 1200px;
        margin: 0 auto;
    }
    
}

h2 {
    padding-left: 2rem;
    padding-right: 2rem; 
    margin-bottom: 2rem;
}


p {
    line-height: 1.6;
    padding-left: 2rem;
    padding-right: 2rem;
    color: $dark;
    
    @include mq($breakpoint-lg) {
        font-size: 1.4rem;
        max-width: 1200px;
        margin: 2rem auto;
    }
    
}

a {
    text-decoration: none;
    color: $secondary;
    &:hover {
        color: $primary;
    }
}

.titulo {
    margin-top: 0;
}

h1 {

    color: $dark1;
    strong{
        font-weight: 900;
        display: block;

        color: $pink;
    }
    @include mq($breakpoint-md) {
    
    }
    @include mq($breakpoint-lg) {

    }
    
}

h2 {

    color: $dark1;
    @include mq($breakpoint-md) {
        font-size: 2rem;
    }
    @include mq($breakpoint-lg) {
        font-size: 42px;
    }
    strong {
        color: $accent;

    }
}

h3 {
    color: $dark1;
}