/* Utilidades */

.d-none {
    display: none !important;
}
.d-block {
    display: block !important;
}
.d-inline-block {
    display: inline-block !important;
}
.d-inline {
    display: inline !important;
}


/* Colores */

.pink {
    color: $pink;
}

.skyblue {
    color: $skyblue;
}

.yellow {
    color: $yellow;
}