@font-face {
    font-family: 'Fira';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: //local('Fira Light'), local('Fira-Light'),
        url('../fonts/FiraSans-Light.ttf') format('ttf'),
         // url('../fonts/FiraSans-Light.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         // url('../fonts/FiraSans-Light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Fira';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: //local('Fira Regular'), local('Fira-Regular'),
        url('../fonts/FiraSans-Regular.ttf') format('ttf'),
         // url('../fonts/FiraSans-Regular.woff') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         // url('../fonts/FiraSans-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Fira';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: //local('Fira Bold'), local('Fira-Bold'),
        url('../fonts/FiraSans-Bold.ttf') format('ttf'),
         // url('../fonts/FiraSans-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         // url('../fonts/FiraSans-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  
  @font-face {
    font-family: 'Fira';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: //local('Fira ExtraBold'), local('Fira-ExtraBold'),
        url('../fonts/FiraSans-ExtraBold.ttf') format('ttf'),
         // url('../fonts/FiraSans-ExtraBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         // url('../fonts/FiraSans-ExtraBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }