// Colors

$primary: #1A2747;
$primary-dark: #28375C  ;
$secondary: #45A7CE;
$secondary-dark: #46526F;
$tertiary: #C3DDEB;
$accent: #EC7FA3;
$secondary-accent: #FD9BBB;
$light: #FFF;
$medium: #999;
$dark: #666;
$dark1: #333;
$light-dark: #FAFAFA;
$secondary-light: #f2f2f2;
$light-grey: #EEE;
$light-grey1: #DDD;


$success: #27AE60;
$danger: #EB5757;
$info: #2D9CDB;
$default: grey;

$pink: #EC7FA3;
$skyblue: #45A7CE;
$yellow: #FFC933;

// Color variation



// Typo

$base-font: 'Fira', sans-serif;
$base-font-size: 16px;
$light-font: 300;
$medium-font: 400;
$bold-font: 700;
$black-font: 800;

// Media Queries

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Transition

$transition: all .3s ease-out;
$transition-menu: transform .5s ease;
$transform-menu: translateX(-110%);

// Base Radius
$base-radius: .5rem;

// Box-shadow
$box-shadow-light: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
$box-shadow-heavy: 0 7px 30px -10px rgba(150,170,180,0.5);

//
$b-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.35);
