/* Dark Theme */

.theme__dark {
    background-color: $primary;

    h1, h2, h3, h4 {
        color: $light;
    }
h1 {
    strong {
        color: $yellow;
    }
}

a {
    &:hover {
        color: $yellow;
    }
}
    

    p {
        color: $light;
        max-width: 1200px;
    }

    header {
        .btn-tema {
            background-image: url(../img/iconos/sol.svg);
        }

        
    }

    .btn--close {
        background-image: url(../img/iconos/close-d.svg);
    }

    .typeText::after {
        border-right: 3px solid $yellow;
    }

    .panel-menu--mobile {
        background-color: $primary;
        ul {
            li {
                border-bottom: 1px solid rgba(255,255,255,.3)
            }
        }
    }

    

    #btnTema2 {
        background-image: url(../img/iconos/sol.svg);
    }
    
    .btn--menu {
        background-image: url(../img/iconos/menu-d.svg);
    }

    .menu-desktop {
        background-color: $primary;
    }

    .logo-img {
        background-image: url(../img/logos/glacier-logotipo-d.svg);
    }

    .main {
        background-image: url(../img/fondos/fondo-header-dark-m.svg);
        
        p {
            color: $light;
        }  
    }
    .glacierLend {

        p {
            color: $primary;
        }
    }

    .cont-icons__features .icon {
        background-color: $primary-dark;
        color: $light;
        border: none;
    }

    .btn--primary {
        background-color: $primary-dark;
    }

    .box__product--glacier-lend {
        
        background-color: #c3ddeb;
        color: $light;
    }

    .box__passage {
        background-image: url(../img/fondos/fondo-birds-d.svg);
    }

.main {
    .logo {
        background-image: url(../img/logos/glacier-d.svg);
    }
}

.box__partner {
    &:hover {
        background-color: $secondary;
    }
}

.cont__social {
    a {
        background-color: $secondary-dark;
        color: $light;
        &:hover {
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }
    }
    .icono {
        
        &.twitter {
            background-image: url(../img/iconos/twitter.svg);
        }
        &.medium {
            background-image: url(../img/iconos/medium.svg);
        }
        &.telegram {
            background-image: url(../img/iconos/telegram.svg);
        }
        &.linkedin {
            background-image: url(../img/iconos/linkedin.svg);
        }
        &.github {
            background-image: url(../img/iconos/github.svg);
        }
    }
    
}


    .footer__bottom {
       color: $light; 
       border-top: 1px solid rgba(167, 91, 91, 0.3);
    }

    .cont__links {
        .link {
            color: $light;
        }
    }


    .modal {
        background-color: $primary;
        
        ul {
            color: $light;
        }
    }

    @include mq($breakpoint-md) {
        .main {
            background-image: url(../img/fondos/fondo-header-dark.svg);
        }
        .box__passage {
            background-image: url(../img/fondos/fondo-central-d.svg);
        }
    }

    /* parallax-dark */

    .background {
        background-image: url(../img/parallax-dark/fondo.svg);
        width: 100%;
        height: 100%;
        background-size: contain;
        position: relative;
        background-repeat: no-repeat;
    }

    @include mq($breakpoint-lg) {
        .cielo {
            background-image: url(../img/parallax-dark/cielo.svg);
            
        }
        
        .montana-roja {
            background-image: url(../img/parallax-dark/montana-roja.svg);
        }
        
        .montana-blanca {
            background-image: url(../img/parallax-dark/montana-blanca.svg);
        }
        
        .agua {
            background-image: url(../img/parallax-dark/agua.svg);
        }
        
    
        .tree1 {

            background-image: url(../img/parallax-dark/pino.svg);
        }
    
        .tree2 {

            background-image: url(../img/parallax-dark/pino.svg);
        }
    
        .tree3 {
            background-image: url(../img/parallax-dark/pino.svg);
            
        }
    
        .tree4 {
            background-image: url(../img/parallax-dark/pino.svg);
            
        }
    
        .tree5 {
            background-image: url(../img/parallax-dark/pino.svg);  
        }
    
        .tree6 {
            background-image: url(../img/parallax-dark/pino1.svg);  
        }
    
        .tree7 {
            background-image: url(../img/parallax-dark/pino1.svg);  
        }
    
        .tree8 {
            background-image: url(../img/parallax-dark/pino1.svg);   
        }
    
        .tree9 {
            background-image: url(../img/parallax-dark/pino1.svg);
        }
    
        .tree10 {
            background-image: url(../img/parallax-dark/pino1.svg);
        }
    
        .tree11 {
            background-image: url(../img/parallax-dark/pino1.svg);
    
        }
    
        .tree12 {
            background-image: url(../img/parallax-dark/pino1.svg);   
        }
    
    
        .tree12 {
            background-image: url(../img/parallax-dark/pino2.svg);
        }
    
        .tree13 {
            background-image: url(../img/parallax-dark/pino1.svg);   
        }
    
        .tree14 {
            background-image: url(../img/parallax-dark/pino1.svg);
    
        }
    
        .tree15 {
            background-image: url(../img/parallax-dark/pino1.svg);
    
        }
    
        .tree16 {
            background-image: url(../img/parallax-dark/pino1.svg);
    
        }
    
        .tree17 {
            background-image: url(../img/parallax-dark/pino1.svg);
        }
    
        .tree18 {
            background-image: url(../img/parallax-dark/pino2.svg);
    
        }
    
        .tree19 {
            background-image: url(../img/parallax-dark/pino2.svg);
    
        }
    
        .tree20 {

            background-image: url(../img/parallax-dark/pino2.svg);
    
        }
    
        .tree21 {
            background-image: url(../img/parallax-dark/pino2.svg);
    
        }
    
        .tree22 {
            background-image: url(../img/parallax-dark/pino2.svg);

    
        }
    
        .tree23 {
            background-image: url(../img/parallax-dark/pino2.svg);
    
        }
    
        .tree24 {
            transform-origin: 50% 90%;

            background-image: url(../img/parallax-dark/pino2.svg);
    
        }
    
        .tree25 {

            background-image: url(../img/parallax-dark/pino2.svg);
            
        }
    
        .tree26 {

            background-image: url(../img/parallax-dark/pino2.svg);

            
        }
    
        .tree27 {

            background-image: url(../img/parallax-dark/pino2.svg);
            
        }
    
        .tree28 {
            background-image: url(../img/parallax-dark/pino2.svg);
            
        }
    
        .tree29 {

            background-image: url(../img/parallax-dark/pino.svg);

        }
    
        /* Stones */
    
        .stone1 {

            background-image: url(../img/parallax-dark/piedra.svg);

            
        }
    
        .stone2 {

            background-image: url(../img/parallax-dark/piedra1.svg);

            
        }
    
        .stone3 {

            background-image: url(../img/parallax-dark/piedra2.svg);

        }
    
        .stone3 {

            background-image: url(../img/parallax-dark/piedra2.svg);

            
        }
    
        .stone4 {
            background-image: url(../img/parallax-dark/piedra.svg);
            
        }
    
        .stone5 {

            background-image: url(../img/parallax-dark/piedra.svg);
            
        }
    
        .stone6 {
            background-image: url(../img/parallax-dark/piedra2.svg);
            
        }
    
        .stone7 {

            background-image: url(../img/parallax-dark/piedra3.svg);
            
        }
    
        .stone8 {

            background-image: url(../img/parallax-dark/piedra4.svg);
            
        }
    
        /* Birds */
    
        .pajaros {
            background-image: url(../img/parallax-dark/birds.svg);
            display: none;
            
        }
    
        .pajaros1 {

            background-image: url(../img/parallax-dark/birds1.svg);
            display: none;
            
        }
    
    
        /* Clouds */
    
        .nube {

            background-image: url(../img/parallax-dark/nube.svg);
            display: none;
            
        }
    
        .nube1 {

            background-image: url(../img/parallax-dark/nube1.svg);
            display: none;
            
        }
    
        .nube2 {

            background-image: url(../img/parallax-dark/nube.svg);
            display: none;
        }

        .luna {
            transform-origin: 50% 90%;
            background-image: url(../img/parallax-dark/luna.svg);
        margin: 0px -64px;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        height: 60px;
        width: 60px;
        top: 80px;
        left: 1300px;
        }
    }
}