/* Boxes */

.box__product {
  max-width: 280px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 2rem;
  position: relative;
  p {
    font-size: 0.875rem;
    padding: 0;
  }
  &--glacier-lend {

    background-color: #C9EDFF;
  }
  .btn {

    text-transform: uppercase;
  }
  .cont-btn {
    position: absolute;
    left: 0;
    right: 0;
  }
  @include mq($breakpoint-lg) {
    width: 566px;
    font-size: 1rem;
    p {
      margin: 2rem 1rem;
    }
  }
}

/* Passage */

.box__passage {
  background-image: url("../img/fondos/fondo-birds.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 380px;
  img {
    width: 100%;
  }
  
  @include mq($breakpoint-md) {
    background-size: cover;
    height: 270px;
    background-image: url("../img/fondos/fondo-central.svg");
    background-size: cover;
  }
  @include mq($breakpoint-lg) {
      height: 630px;
      display: none;
    img {
      object-fit: cover;
    }
    
  }
}

/* Partners */

.box__partner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0.25rem;
  background-color: $light;
  border-radius: 1rem;
  height: 8rem;
  flex: 0 0 46%;
  max-width: 50%;
  cursor: pointer;
  border: 1px solid #DDD;
  &:last-child {
    flex: 0 0 100%;
    max-width: 158px;
    img{
        // width: 200px;
    }
  }
  img {
    width: 120px;
  }
  @include mq($breakpoint-md) {
    flex: 0 0 30%;
    &:hover {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
    img {
        width: 150px;
    }
    &:last-child {
        flex: 0 0 30%;
        max-width: 50%;
        margin-top: 0;
        img {
            width: 150px;
        }
      }
  }
}
