/* Buttons */

.btn {
    padding: 0.8125rem 1rem;
    border-radius: .25rem;
    font-size: 0.875rem;
    font-weight: $bold-font;
    display: inline-block;
    transition: $transition;
    text-align: center;
    transform: scale(1);

    &:hover {
        transform: translate3d(2px, 2px, 10px);
        
    }

    &--primary {
        background-color: $primary;
        color: $light;
        &:hover {
            
            color: $light;
        }
    }
    &--secondary {
        background-color: $secondary;
        color: $light;
        &:hover {
            color: $pink;
        }
    }

    &--pink {
       
        background-color: darken($pink, 20%);
        color: $light;
        &:hover {
            color: $light;
            background-color: darken($pink, 20%);
            
        } 
    }

    &--close {
        width: 30px;
        height: 30px;
        background-image: url(../img/iconos/close.svg);
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        
        position: absolute;
        right: 1rem;
        top: 2rem;
    }
    @include mq($breakpoint-md) {
        &--lg {
            width: 300px;
        }
    }
    @include mq($breakpoint-lg) {
        padding: .75rem 2rem;
        font-size: 1rem;

    }
}

.btn--menu {
    width: 30px;
    height: 30px;
    background-image: url(../img/iconos/menu.svg);
    background-repeat: no-repeat;
    display: block;
    margin: 1rem;
    
}

.btn-tema {
    width: 24px;
    height: 24px;
    background-image: url(../img/iconos/luna.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: block;
    
    @include mq($breakpoint-md) {
            display: inline-block;
            margin: 0 2rem;
            
            img {
                width: 100%;
                height: auto;
            }
        
    }
}