/* Container Buttons */

.cont-btns {
    display: flex;
    padding: 0 1rem;
    
    align-items: center;
    justify-content: center;
    .btn:first-of-type {
        margin-right: 1rem;
    }
    @include mq($breakpoint-md) {
        #ayudaBtn {
            display: none;
        }
        #conoceBtn {
            
            background-color: $primary !important;
        }
    }
    
}

/* Features */

.features {
    width: 100%;
    height: 330px;
    overflow: hidden;
    overflow-x: auto;
    @include mq($breakpoint-md) {
        height: auto;
        margin: auto;
        overflow: hidden;
    }
}

.cont-icons__features {
    
    margin-top: 3.625rem;
    height: 230px;
    
    width: 960px;
    display: flex;
    
    .icon {
        width: 300px;
        text-align: left;
        border-radius: 1rem;
        padding: 1rem;
        border: 1px solid $light-grey1;
        display: inline-block;
        margin-right: 1rem;
        background-color: $light;
        &:first-child {
            margin-left: 1rem;
        }
        &:nth-of-type(2){
            small {
                color: $pink;
            }
        }
        
    }
    .icon-header {
        display: flex;
        align-items: center;
        
    }
    img {
        width: 60px;
        height: 60px;
     
        display: inline-block;
        margin-right: 1rem;
        
    }

    small {
        font-size: 24px;
        font-weight: 400;
        color: $secondary;
    }
    p {
        font-size: 1rem;
        padding-left: 0;
        padding-right: 0;
        
    }
    @include mq($breakpoint-md) {
     
        margin: 3.5rem auto;
        margin-bottom: 2.75rem;
        height: auto;
        width: 100%;
        .icon-header {
            display: block;
        }
        img {
            width: 60px;
            height: 60px;
            display: block;
            margin-bottom: 1.2rem;
        }
        .icon {
            
            width: 30%;
           
            cursor: pointer;
           
        }
    }

    @include mq($breakpoint-lg) {
        max-width: 1055px;
        font-size: 24px;
        margin-top: 8rem;
        margin-bottom: 114px;
        display: flex;
        justify-content: space-between;
        img {
            width: 100px;
            height: 100px;
        }
        small {
           
            display: block;
        }
    }

}

/* Partners */


.cont-icons__partners {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
    
    @include mq($breakpoint-md) {
        justify-content: center;
        .box__partner {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
        
    }
    @include mq($breakpoint-lg) {
        max-width: 1200px;
        margin: 0 auto;
    }
}


/* Social Network */

.cont__social {
    display: flex;
    width: 100%;
    padding: 0 2rem;
    margin: 2rem auto;
    align-items: center;
    justify-content: space-around;
    .box-community {
        background-color: $light-grey1;
        border-radius: .5rem;
    
        display: block;
        padding: 0.5rem;
        color: $primary;
        margin-bottom: 1rem;
       
        padding: 1rem;
        
        &:hover {
            background-color: $light;
            color: $primary;
            &:hover {
                box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            }
        }
    }
    .icono {
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin: 0 auto;
        
        &.twitter {
            background-image: url(../img/iconos/twitter.svg);
        }
        &.medium {
            background-image: url(../img/iconos/medium.svg);
        }
        &.telegram {
            background-image: url(../img/iconos/telegram.svg);
        }
        &.linkedin {
            background-image: url(../img/iconos/linkedin.svg);
        }

        &.github {
            background-image: url(../img/iconos/github.svg);
        }
    }
    
    
    img {
        width: 80px;
        display: block;
        margin: 0 auto;
        
    }
    @include mq($breakpoint-md) {
        max-width: 20rem;
        margin-bottom: 0;
        .icono {
            width: 40px;
            height: 40px;
        }

    }
    @include mq($breakpoint-lg) {
        max-width: 624px;
        margin-bottom: 4rem;
        img {
            width: 124px;
        }
    }
}

/* Footer */

.footer__bottom {

    height: 4.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: $light;
    border-top: 1px solid $light-grey1;

    //background-color: $skyblue;
    @include mq($breakpoint-md) {
        //background-size: contain;
        background-position: center top;
    }
    @include mq($breakpoint-lg) {
        margin-top: 2rem;
    }
}

.cont__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: .875rem;
 
    .link {
        color: $primary;
        display: block;
        font-size: 0.6875rem;
        margin: 0 1rem;
        font-size: .875rem;
   
        &:hover {
            color: $primary;
            text-decoration: underline;
        }
    }
    @include mq($breakpoint-md) {
        max-width: 900px;
      
        .link {
            margin-right: 1rem;
        }
    }
    @include mq($breakpoint-lg) {
        max-width: 100%;
        
        font-size: 1.1rem;
        .link {
            font-size: 1.1rem;
          
        }
    }
}