/* Modal */

:root {
    --modal-duration: 1s;
}


.modal-container {
    background-color: rgba(0,0,0,.6);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

}

.modal-container.show-modal {
    display: block;
}

.modal {
    background-color: $light;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 100%;
    height: 100%;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    padding: 2rem;
    h1 {
        font-size: 1.6rem;
        margin-top: 0;
    }
    h2 {
        padding-left: 0;
        padding-right: 0;
        font-size: 1.2rem;
        margin: 2rem 0 1rem;
    }
    ul {
        line-height: 1.6;
        color: $dark;
        padding-left: 1rem;
        list-style-type: disc;
        li {
            margin-bottom: .5rem;
        }
    
    }
    @include mq($breakpoint-md) {
        h2 {
            margin-left: 0;
            padding-left: 0;
        }
        ul {
            li {
                margin-bottom: 1rem;
            }
        }
    }
}

.modal-header {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem;
        justify-content: flex-end;
        img {
            cursor: pointer;
            
            position: absolute;
            right: 1rem;
            top: 2rem;
        }
        @include mq($breakpoint-lg) {
           img {
            width: 60px;
            height: 60px;
           }
       }
}

.modal-header h3 {
    margin: 0;
}

.modal-content {
    height: 84vh;
    overflow-y: auto;
   h1, p {
       margin-left: 0;
       margin-right: 0;
       padding-left: 0;
       padding-right: 0;
   }
   h1 {
       margin-bottom: 1rem;
   }
   p {
       font-size: 1rem;
   }
  
   @include mq($breakpoint-md) {
    height: 88vh;
        padding: 4rem;
        padding-top: 0;
        p {
            margin-top: 0;
        }
   }
}

.modal-form div {
    margin: 15px 0;
}

.modal-form label {
    display: block;
    margin-bottom: 5px;
}

.modal-form .form-input {
    padding: 8px;
    width: 100%;
}

.close-btn {
    background-color: transparent;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}