/* Parallax */

#cont-scene {
    width: 100%;
    height: 630px;
    
    overflow: hidden;
    display: none;
    @include mq($breakpoint-lg) {
        display: block;
    }
}

.background {
    background-image: url(../img/parallax/fondo.svg);
    width: 100%;
    height: 100%;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
}



@include mq($breakpoint-md) {
    
    .scene {
        position: relative;
        .layer {
            display: block;
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
    
    .tree1 {
        
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 940px;
        width: 400px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: -30%;
        left: 0;
    }
    
    .tree2 {
        
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 700px;
        width: 300px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: -10%;
    }
    
    .tree3 {
        
        transform-origin: 50% 90%;
        
    
        margin: 0px -64px;
        background-size: cover;
        height: 310px;
        width: 130px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 20%;
        top: 24%;
    }
    
    .tree4 {
        
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 150px;
        width: 64px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 30%;
        top: 28%;
    }
    
    .tree5 {
        
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 150px;
        width: 64px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 60%;
        top: 28%;
    }
    
    .tree6 {
        
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 150px;
        width: 64px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 70%;
        top: 28%;
    }
    
    .tree7 {
        
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 150px;
        width: 64px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 90%;
        top: 28%;
    }
    
    /*  */
    
    .tree8 {
        
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 80px;
        width: 33px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 18%;
        top: 33%;
    }
    
    .tree9 {
        
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 80px;
        width: 33px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 33%;
        top: 34%;
    }
    
    .tree10 {
        
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 80px;
        width: 33px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 43%;
        top: 34%;
    }
    
    
    .tree11 {
        
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 80px;
        width: 33px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 48%;
        top: 34%;
    }
    
    .tree12 {
        
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 80px;
        width: 33px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 59%;
        top: 34%;
    }
    
    
    .tree13 {
        
        transform-origin: 50% 90%;
        
    
        margin: 0px -64px;
        background-size: cover;
        height: 80px;
        width: 33px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 80%;
        top: 34%;
    }
    
    
    
    .tree14 {
        
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 80px;
        width: 33px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 88%;
        top: 34%;
    }
    
    /* Birds */
    
    .pajaritos {
        
        transform-origin: 50% 90%;
    
        margin: 0px auto;
        background-size: contain;
        height: 400px;
        width: 1000px;
    
        background-image: url(../img/parallax/pajaritos.svg);
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
    }
    
    /* Stones */
    
    .piedra {
        
        transform-origin: 50% 90%;
    
        margin: 0px auto;
        background-size: contain;
        height: 104px;
        width: 290px;
    
        background-image: url(../img/parallax/piedras.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 20%;
        bottom: 40%;
    }
    
    
    .piedra1 {
        
        transform-origin: 50% 90%;
    
        margin: 0px auto;
        background-size: contain;
        height: 104px;
        width: 290px;
    
        background-image: url(../img/parallax/piedras.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 70%;
        bottom: 40%;
    }
    
    
    .piedra2 {
        transform-origin: 50% 90%;
    
        margin: 0px auto;
        background-size: contain;
        height: 82px;
        width: 97px;
    
        background-image: url(../img/parallax/piedras-lago.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 44%;
        bottom: 44%;
    }
    
    
    /* Montañas */
    
    .montana {
        
        transform-origin: 50% 90%;
    
        margin: 0px auto;
        background-size: contain;
        height: 260px;
        width: 1000px;
    
        background-image: url(../img/parallax/montana.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: -5%;
        bottom: 59%;
    }
    
    .montana1 {
        
        transform-origin: 50% 90%;
    
        margin: 0px auto;
        background-size: contain;
        height: 340px;
        width: 876px;
    
        background-image: url(../img/parallax/montana1.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 40%;
        bottom: 62%;
    }
    
    
}


@include mq($breakpoint-lg) {

    /* .background {
        background-image: url(../img/parallax/fondo.svg);
        width: 100%;
        height: 100%;
        background-size: contain;
        position: relative;
        background-repeat: no-repeat;
    } */
    
    .scene {
        position: relative;
        .layer {
            display: block;
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
    
    .tree1 {
        
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 940px;
        width: 400px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: -30%;
        left: 0;
    }
    
    .tree2 {
        
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 700px;
        width: 300px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: -10%;
    }
    
    .tree3 {
        
        transform-origin: 50% 90%;
        
    
        margin: 0px -64px;
        background-size: cover;
        height: 310px;
        width: 130px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 20%;
        top: 24%;
    }
    
    .tree4 {
        
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 150px;
        width: 64px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 30%;
        top: 28%;
    }
    
    .tree5 {
        
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 150px;
        width: 64px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 60%;
        top: 28%;
    }
    
    .tree6 {
        
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 150px;
        width: 64px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 70%;
        top: 28%;
    }
    
    .tree7 {
        
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 150px;
        width: 64px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 90%;
        top: 28%;
    }
    
    /*  */
    
    .tree8 {
        
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 80px;
        width: 33px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 18%;
        top: 33%;
    }
    
    .tree9 {
        
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 80px;
        width: 33px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 33%;
        top: 34%;
    }
    
    .tree10 {
        
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 80px;
        width: 33px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 43%;
        top: 34%;
    }
    
    
    .tree11 {
        -webkit-transform-origin: 50% 90%;
        -moz-transform-origin: 50% 90%;
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 80px;
        width: 33px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 48%;
        top: 34%;
    }
    
    .tree12 {
        -webkit-transform-origin: 50% 90%;
        -moz-transform-origin: 50% 90%;
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 80px;
        width: 33px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 59%;
        top: 34%;
    }
    
    
    .tree13 {
        -webkit-transform-origin: 50% 90%;
        -moz-transform-origin: 50% 90%;
        transform-origin: 50% 90%;
        
    
        margin: 0px -64px;
        background-size: cover;
        height: 80px;
        width: 33px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 80%;
        top: 34%;
    }
    
    
    
    .tree14 {
        -webkit-transform-origin: 50% 90%;
        -moz-transform-origin: 50% 90%;
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        height: 80px;
        width: 33px;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 88%;
        top: 34%;
    }
    
    /* Birds */
    
    .pajaritos {
        -webkit-transform-origin: 50% 90%;
        -moz-transform-origin: 50% 90%;
        transform-origin: 50% 90%;
    
        margin: 0px auto;
        background-size: contain;
        height: 400px;
        width: 1000px;
    
        background-image: url(../img/parallax/pajaritos.svg);
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
    }
    
    /* Stones */
    
    .piedra {
        -webkit-transform-origin: 50% 90%;
        -moz-transform-origin: 50% 90%;
        transform-origin: 50% 90%;
    
        margin: 0px auto;
        background-size: contain;
        height: 104px;
        width: 290px;
    
        background-image: url(../img/parallax/piedras.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 20%;
        bottom: 40%;
    }
    
    
    .piedra1 {
        -webkit-transform-origin: 50% 90%;
        -moz-transform-origin: 50% 90%;
        transform-origin: 50% 90%;
    
        margin: 0px auto;
        background-size: contain;
        height: 104px;
        width: 290px;
    
        background-image: url(../img/parallax/piedras.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 70%;
        bottom: 40%;
    }
    
    
    .piedra2 {
        -webkit-transform-origin: 50% 90%;
        -moz-transform-origin: 50% 90%;
        transform-origin: 50% 90%;
    
        margin: 0px auto;
        background-size: contain;
        height: 82px;
        width: 97px;
    
        background-image: url(../img/parallax/piedras-lago.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 44%;
        bottom: 44%;
    }
    
    
    /* Montañas */
    
    .montana2 {
        transform-origin: 50% 90%;
        background-image: url(../img/parallax/montana2.svg);
        width: 100%;
        height: 100%;
        background-size: contain;
        position: relative;
        background-repeat: no-repeat;
        top: 60px;
    }
    
    .montana3 {
        transform-origin: 50% 90%;
        background-image: url(../img/parallax/montana3.svg);
        width: 100%;
        height: 100%;
        background-size: contain;
        position: relative;
        background-repeat: no-repeat;
    }
    
    
}

