/* Parallax */

#cont-scene2 {
    width: 100%;
    height: 500px;
     
    overflow: hidden;
    
    display: none;
    
  
    @include mq($breakpoint-lg) {
        display: block;
    }
}


.swing {
    animation: swing 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}

.swing1 {
    animation: swing 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}

@keyframes swing {
    0% {
      transform: rotateZ(10deg); }
    100% {
      transform: rotateZ(-10deg); } 
}


@include mq($breakpoint-lg) {
    .cielo {
        background-image: url(../img/parallax/cielo.svg);
        width: 100%;
        height: 298px;
        background-size: contain;
        position: relative;
        background-repeat: no-repeat;
        top: 100px;
        
    }
    
    .montana-roja {
        background-image: url(../img/parallax/montana-roja.svg);
        width: 100%;
        height: 100%;
        background-size: contain;
        position: absolute;
        background-repeat: no-repeat;
        top: 200px;
    }
    
    .montana-blanca {
        background-image: url(../img/parallax/montana-blanca.svg);
        width: 100%;
        height: 100%;
        background-size: contain;
        position: absolute;
        background-repeat: no-repeat;
        top: 200px;
    }
    
    .agua {
        background-image: url(../img/parallax/agua.svg);
        width: 100%;
        height: 100px;
        background-size: 100%;
        position: absolute;
        background-repeat: no-repeat;
        top: 350px;
    }
    
    .scene {
        position: relative;
        .layer {
            display: block;
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
    

    .tree1 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 375px;
        width: 165px;
        top: 100px;
        left: 245px;
    }

    .tree2 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 337px;
        width: 149px;
        top: 100px;
        right: 0;
    }

    .tree3 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 132px;
        width: 58px;
        top: 300px;
        right: 6%;
        
    }

    .tree4 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 91px;
        width: 40px;
        top: 340px;
        right: 9%;
        
    }

    .tree5 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 132px;
        width: 58px;
        top: 300px;
        left: 384px;

        
    }

    .tree6 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino1.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 132px;
        width: 58px;
        top: 255px;
        left: 230px;

        
    }

    .tree7 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino1.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 85px;
        width: 37px;
        top: 255px;
        left: 100px;

        
    }

    .tree8 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino1.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 85px;
        width: 37px;
        top: 255px;
        left: 455px;

        
    }

    .tree9 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino1.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 85px;
        width: 37px;
        top: 255px;
        left: 760px;

        
    }

    .tree10 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino1.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 68px;
        width: 30px;
        top: 275px;
        left: 1045px;

    }

    .tree11 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino1.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 77px;
        width: 34px;
        top: 265px;
        left: 1404px;

    }

    .tree12 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino1.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 68px;
        width: 30px;
        top: 285px;
        left: 1717px;

    }


    .tree12 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino2.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 26px;
        width: 11px;
        top: 285px;
        left: 491px;

    }

    .tree13 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino1.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 48px;
        width: 24px;
        top: 285px;
        left: 920px;

    }

    .tree14 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino1.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 26px;
        width: 11px;
        top: 305px;
        left: 955px;

    }

    .tree15 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino1.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 42px;
        width: 20px;
        top: 305px;
        left: 1036px;

    }

    .tree16 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino1.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 62px;
        width: 30px;
        top: 285px;
        left: 1436px;

    }

    .tree17 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino1.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 77px;
        width: 40px;
        top: 285px;
        left: 1636px;
    }

    .tree18 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino2.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 61px;
        width: 27px;
        top: 275px;
        left: 120px;

    }

    .tree19 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino2.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 32px;
        width: 14px;
        top: 305px;
        left: 150px;

    }

    .tree20 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino2.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 65px;
        width: 24px;
        top: 265px;
        left: 440px;

    }

    .tree21 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino2.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 32px;
        width: 14px;
        top: 300px;
        left: 750px;

    }

    .tree22 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino2.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 60px;
        width: 24px;
        top: 270px;
        left: 800px;

    }

    .tree23 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino2.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 60px;
        width: 24px;
        top: 270px;
        left: 926px;

    }

    .tree24 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino2.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 60px;
        width: 24px;
        top: 270px;
        left: 926px;

    }

    .tree25 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino2.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 60px;
        width: 24px;
        top: 280px;
        left: 1246px;
        
    }

    .tree26 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino2.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 26px;
        width: 11px;
        top: 310px;
        left: 1270px;
        
    }

    .tree27 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino2.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 60px;
        width: 23px;
        top: 280px;
        left: 1550px;
        
    }

    .tree28 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino2.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 42px;
        width: 18px;
        top: 295px;
        left: 1570px;
        
    }

    .tree29 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/pino.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 375px;
        width: 165px;
        top: 50px;
        left: -30px;
    }

    /* Stones */

    .stone1 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/piedra.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 73px;
        width: 171px;
        top: 385px;
        left: 100px;
        
    }

    .stone2 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/piedra1.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 73px;
        width: 171px;
        top: 400px;
        left: 530px;
        
    }

    .stone3 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/piedra2.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 28px;
        width: 180px;
        top: 410px;
        left: 1680px;
    }

    .stone3 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/piedra2.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 28px;
        width: 180px;
        top: 410px;
        left: 1680px;
        
    }

    .stone4 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/piedra.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 50px;
        width: 100px;
        top: 360px;
        left: 1080px;
        
    }

    .stone5 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/piedra.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 50px;
        width: 100px;
        top: 360px;
        left: 1080px;
        
    }

    .stone6 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/piedra2.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 20px;
        width: 120px;
        top: 380px;
        left: 950px;
        
    }

    .stone7 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/piedra3.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 10px;
        width: 75px;
        top: 360px;
        left: 600px;
        
    }

    .stone8 {
        transform-origin: 50% 90%;
    
        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/piedra4.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 10px;
        width: 75px;
        top: 360px;
        left: 1670px;
        
    }

    /* Birds */

    .pajaros {
        transform-origin: 50% 90%;

        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/birds.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 132px;
        width: 416px;
        top: 130px;
        left: 466px;
        
    }

    .pajaros1 {
        transform-origin: 50% 90%;

        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/birds1.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 100px;
        width: 282px;
        top: 80px;
        left: 1366px;
        
    }


    /* Clouds */

    .nube {
        transform-origin: 50% 90%;

        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/nube.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 30px;
        width: 157px;
        top: 180px;
        left: 465px;
        
    }

    .nube1 {
        transform-origin: 50% 90%;

        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/nube1.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 42px;
        width: 178px;
        top: 100px;
        left: 998px;
        
    }

    .nube2 {
        transform-origin: 50% 90%;

        margin: 0px -64px;
        background-size: cover;
        background-image: url(../img/parallax/nube.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 34px;
        width: 180px;
        top: 100px;
        left: 1550px;
        
    }
}

