.typeText {
    position: relative;
    font-weight: 900;
    
}

.typeText::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 90%;
    border-right: 3px solid $pink;
    animation: blink .5s infinite ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}