footer {
    text-align: center;
    h3 {
        
        margin-top: 0;
        small {
            display: block;
            
        }
    }
    p {
        line-height: 1;
        max-width: 312px;
        margin: 0 auto;
        
    }
    .title-network {
        margin-top: 5rem;
    }
    @include mq($breakpoint-lg) {

        p {
            max-width: 1200px;
            font-size: 1.4rem;
            
            margin: 2rem auto 3rem;
        }
    }
}