/* Header Section */

header {


    .logo-img {
        width: 168px;
        height: 50px;
        background-image: url(../img/logos/glacier-l.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .btn--pink {
        background-color: darken($pink, 20%);
    }


    @include mq($breakpoint-md) {
        padding: .8rem;
        
        .cont-top-btn {
            display: flex;
            align-items: center;
        }
        
    }

    @include mq($breakpoint-md) {
        .logo-img {
            max-width: 300px;
            height: auto;
            min-height: 50px;
            background-image: url(../img/logos/glacier-logotipo.svg);

        }
    }
}






