.menu-desktop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: $light;
    display: none;
    @include mq($breakpoint-md) {
        display: block;
    }
}

.menu-mobile {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    right: 0;
    cursor: pointer; 
    padding: 1rem;
    display: block;
    z-index: 99;
    @include mq($breakpoint-md) {
        display: none;
    }
}

.panel-menu--mobile {
    
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    background-color: $light;
    z-index: 100;
    transition: $transition;
   transform: translateX(-100%);
    .header-panel-menu--mobile {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem;
        justify-content: space-between;
    }
    .body-panel-menu--desktop {
        padding: 1rem;
        margin-top: 3rem;
    }

    ul {
        padding-left: 0;
        li {
            padding: 1rem;
            border-bottom: 1px solid $light-grey1;
        }
    }

    &.open {
        left: 0;
        transform: translateX(0);
    }

} 


.logo-img {
    width: 166px;
    height: 50px;
    background-image: url(../img/logos/glacier-logotipo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}