
.main {
    background-image: url('../img/fondos/fondo-header-m.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    
    
    h1 {
        font-size: 32px;
        strong {
            font-weight: 700;
        }
    }
    .logo {
        width: 96px;
        height: 108px;
        display: inline-block;
        background-image: url('../img/logos/glacier-l.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0 0;
        margin: 0 auto;
        margin-top: 12rem;
    }

    p {
        font-size: 0.875rem;
        padding: 0 1rem;
        margin-bottom: 3rem;
    }
    @include mq($breakpoint-md) {
        background-image: url('../img/fondos/fondo-top.svg');
        background-size: cover;
        min-height: 310px;
        padding-top: 100px;
        .logo {
            // width: 6.75rem;
            margin-top: -100px;
            visibility: hidden;
        }

        h1{
           max-width: 600px;
            margin: 0 auto;
            margin-top: 2.5rem;
            margin-bottom: 1.5rem;
            font-size: 1.75rem;
        }
        br {
            display: none;
        }
        p {
            max-width: 470px;
            margin: auto;
            margin-bottom: 2rem;
        }
    }
    @include mq($breakpoint-lg) {
        
        min-height: 730px;
        h1, p {
            max-width: 932px;
        }
        h1 {
            font-size: 64px;
            margin-top: 4rem;
        }
        p {
            font-size: 1.5rem;
            
        }
        br {
            display: none;
        }
    }
}

.glacierLend {
    margin-bottom: 80px;
    img {
        width: 12.25rem;
    }

    .iso {
        max-width: 196px;
        height: 130px;
        margin: 0 auto;
        background-image: url(../img/logos/glacier-lend.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    @include mq($breakpoint-md) {

        h2 {
            br {
                display: none;
            }
        }
    }
    @include mq($breakpoint-lg)  {

         h2 {
            margin-bottom: 4rem;
        } 
        img {
            width: 280px;
        }
    }
}

.birds {
    padding: 0;
    margin: 6rem 0;
    
   h2 {
        
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;

    } 
    @include mq($breakpoint-md) {
        h2 {
            max-width: 45rem;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @include mq($breakpoint-lg) {
        h2 {
            max-width: 68rem;
            margin: 3rem auto;
            margin-top: 10rem;
            margin-bottom: 0;
            line-height: 1.2;
        }
        h3 {
            font-size: 2rem;
        }
    }
}

.ecosystem {
    margin-bottom: 4.625rem;
    @include mq($breakpoint-md) {
        h2 {
            margin-bottom: 1rem;
        }
        br {
            display: none;
        }
    }
    @include mq($breakpoint-lg) {
        margin-bottom: 9rem;
        h2 {
            
            margin: 0 auto 2rem;
            
            br {
                display: none;
            }
        }
    }
}